:root{
  --color1: #fffae080;
  --color10: #fffae0;
  --color2: #f1b420;
  --color3: red;
  --color4: rgba(0, 0, 0, 0.85);
  --color40: rgb(0, 0, 0);
  background-color: var(--color4);
  --back1: url('./img/OIP.jpeg');
  --back2: url('./img/backgroung-train-dark.jpg');
  /* background-image: var(--back1); */
  color: var(--color10);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
  letter-spacing: -1px;
  font-stretch: ultra-condensed;
}
main:after {
  background-repeat: no-repeat;
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(./img/back.jpg); 
  width: 100%;
  height: 100%;
  opacity : 0.2;
  z-index: -1;
}
main{
  height: 80vh;
  background-color: var(--color1);
  border-radius: 20px 20px 0 0 ; 
}

header{
  position: relative;
  /* background-color: var(--color4); */
  background-color: var(--color4);
  color: var(--color40);
}

header:after {
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(./img/map.jpeg); 
  width: 100%;
  height: 100%;
  opacity : 1;
  z-index: -1;
}


.mode{
  position: fixed;
  color:var(--color10);
  margin-left:90vw;
  margin-top: 5vw;
}


.logo{
  color: var(--color2);
  rotate: -90deg;
  text-align: center;

}
body{
  display: flex;
}

.container-boxes{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}

.box-item{
  width: 40vw;
  height: 40vw;
  text-align: center;
  margin-top: 20px;
  border-radius: 16px;
  background-color: var(--color2);
  font-style: normal;
  color: var(--color4);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.box-item-icons{
  width: 40vw;
  height: 40vw;
  text-align: center;
  margin-top: 20px;
  border-radius: 16px;
  background-color: var(--color2);
  font-style: normal;
  color: var(--color4);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.h1{
  font-size: 40px;
  font-weight: 800;
}
.h4{
  font-size: 20px;
  font-weight: 600;
}
.h5{
  font-size: 14px;
  font-weight: 600;
}
.minibox{
  width: 14vw;
  height: 14vw;
  color: var(--color40);
  background-color: var(--color10);
  margin: 2vw;
  font-size: xx-large;
  border-radius: 8px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;

}

button{
  width: 28vw;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  border: none;
  color: var(--color10);
  background-color: var(--color3);
}
.img-container{
  width: 12vw;
  height: 12vw;
  overflow: hidden;
}
.weather-img{
  width: 100%;
  height: 100%;

        }




.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
}

.initial{
width: 100vw;
height: 100vh;
animation-name: reduce;
animation-duration: 4s;
animation-delay: 4s;
color: var(--color10);
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.input {
  padding: 12px;
  font-size: 32px;
}
.label {
  padding: 12px;
}

input[type="time"] {
  font-size: 18px;
  color: black;
}
.box {
  margin-top: 30px;
  display: flex;
  background-color: #f1b420;
  width: 80vw;
  border-radius: 8px;
  justify-content: space-between;
}
.box-items {
  padding: 12px;
}
.grow {
  flex-grow: 1;
  padding-left: 6px;
}
.t-center{
    align-items: center;
}
.flex {
  display: flex;
}
.space-evenly {
  justify-content: space-evenly;
}
.button:hover{
    opacity: 50%;
}

.space-between {
  justify-content: space-between;
}
.column {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.h-20 {
  height: 20px;
}

.fa-xl {
  font-size: x-large;
  padding-left: 4px;
}

h3 {
  margin-block-start: 0;
  margin-block-end: 0;
}
h5 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 400;
}

.min-w-60 {
  width: 160px;
}
.end {
  align-items: end;
}
.button {
  width: 30vw;
  height: 40px;
  background-color: #ef3340;
  color: #fffae0;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  font-size: large;
  margin-top: 32px;
}

.pb-4 {
  padding-bottom: 4vw;
}

.p-2 {
  padding-left: 2vw;
  padding-top: 2vw;
}
.px-2 {
  padding-left: 2vw;
  padding-right: 2vw;
}

input[type="checkbox"] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.container-transport {
  border-radius: 8px;
  background-color: #f1b420;
  width: 80vw;
  margin-top: 24px;
}

.wrapper {
  margin-top: 32px;
  border-radius: 8px;
  overflow: hidden;
}
.tabs {
  position: relative;
  width: 80vw;
  /* margin: 20px; */
  background: #f1b420;
  height: 140px;
}
.tabs::before,
.tabs::after {
  content: "";
  display: table;
}
.tabs::after {
  clear: both;
}
.tab {
  float: left;
}
.tab-switch {
  display: none;
}
.tab-label {
  position: relative;
  display: block;
  line-height: 2.75em;
  height: 3em;
  width: 37.6vw;
  padding-left: 2vw;
  background: #fffae0;
  color: black;
  cursor: pointer;
  top: 0;
  transition: all 0.25s;
}
.tab-label:hover {
  top: -0.25rem;
  transition: top 0.25s;
}
.tab-content {
  width: 70vw;
  height: 40px;
  position: absolute;
  z-index: 1;
  top: 2.75em;
  left: 0;
  padding: 5vw;
  background: #f1b420;
  opacity: 0;
  transition: all 0.35s;
}
.tab-switch:checked + .tab-label {
  background: #f1b420;
  border-bottom: 0;
  border-right: 0.125rem solid #fff;
  transition: all 0.35s;
  z-index: 1;
  top: -0.0625rem;
}
.tab-switch:checked + label + .tab-content {
  z-index: 2;
  opacity: 1;
  transition: all 0.35s;
}

@keyframes reduce {
  0%   {height: 100vh;
  width: 100vw;}
  100% {height: 10vh;
    width: 100vw;}
}
